* {
    box-sizing: border-box;
    }
    
    *:focus {
      outline: none;
    }
    body {
    font-family: Arial;
    background-color: #020510;
    padding: 30px;
    }

    .fon {
      background-image: url(./img/background.png);
      background-repeat: no-repeat;
      border-radius: 9px;
      padding: 250px;
    }

    .logo {
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .rectangle {
      display: flex;
      align-items: center;
      height: 35px;
      width: 100px;
      background-color: #8b8b8b50;
      border-radius: 10px;
    }

    .country {
      margin-left: 15px;
      display: flex;
      align-content: center;
    }

    .rectangle__lift {
        display: flex;
        align-items: center;
        height: 35px;
        width: 45px;
        background-color: #282253ea;
        border-radius: 10px;
        transform: translate(-230px, -230px);
        justify-content: center;
        color: rgb(255, 0, 0);
    }

    .rectangle__right {
        display: flex;
        align-items: center;
        height: 35px;
        width: 45px;
        background-color: #282253ea;
        border-radius: 10px;
        transform: translate(-180px, -265px);
        justify-content: center;
        color: #fff;
    }

    .rectangle__right2 {
        display: flex;
        align-items: center;
        height: 35px;
        width: 265px;
        background-color: #282253ea;
        border-radius: 10px;
        transform: translate(840px, -300px);
        color: #fff;
        justify-content: space-around;  
    }

    .rectangle__lift2 {
        display: flex;
        align-items: flex-start;;
        height: 70px;
        width: 265px;
        background-color: #282253ea;
        border-radius: 10px;
        transform: translate(-230px, -280px);
        flex-direction: column;
        justify-content: space-evenly;
        color: #fff;
        padding: 10px;
    }

    .rectangle_lift2:nth-child(2){
        color: rgb(97, 97, 97);
    }

    .rectangle__center {
        display: flex;
        align-items: center;
        height: 500px;
        width: 750px;
        background-color: #282253b7;
        border-radius: 10px;
        transform: translate(70px, -350px);
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 10px;
        font-size: 60px;
        color: #d1d1d1;
    }

    .rectangle__center__2,
    .rectangle__center__21,
    .rectangle__center__22,
    .rectangle__center__23,
    .rectangle__center__24,
    .rectangle__center__25,
    .rectangle__center__26 { 
        height: 50px;
        width: 50px;
        background-color: #ffffff;
        border-radius: 40px;
    }

    .rectangle__center__21:hover{
      background-color: #00b7ff;
    }

    .rectangle__center__22:hover{
      background-color: #00b7ff;
    }
    .rectangle__center__23:hover{
      background-color: #00b7ff;
    }
    .rectangle__center__24:hover{
      background-color: #00b7ff;
    }
    .rectangle__center__25:hover{
      background-color: #00b7ff;
    }
    .rectangle__center__26:hover{
      background-color: #00b7ff;
    }



    .rectangle__center__2:nth-child(5),
    .rectangle__center__2:nth-child(4),
    .rectangle__center__2:nth-child(2){
        background-color: #ffffff;
    }

    .rectangle__center-container{
        display: flex;
        transform: translate(140px, -739px);
        gap: 30px;
        padding-top: 13px;
    }
